# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal



# Entorno virtual
env/
venv/
ENV/

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de configuración local
.env
*.env

# Archivos de dependencias
pip-log.txt
pip-delete-this-directory.txt

# Archivos de cobertura de pruebas
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Archivos de distribución
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Logs y bases de datos
*.log
*.sql
*.sqlite
.env
*.pyc
__pycache__/
db.sqlite3