{% extends 'main/dashboard.html' %} 
{% load static %} 

{% block fixedbar %}

<!--Fixedbar-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="page-fixedbar-container">
  <div class="page-fixedbar-content">
    <div class="nano">
      <div class="nano-content">
        <div class="pad-all">
          <span class="pad-ver text-main text-sm text-uppercase text-bold">Seleccione estación</span>
           <a href="#" class="list-group-item"> 
            box para elegir estacion
          </a>
          
        </div>
        <!--===================================================-->
        
        

      </div>
    </div>
  </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End Fixedbar-->
{% endblock %} 


{% block content %}
<!--Page content-->
<!--===================================================-->
<div id="page-content">
  <!--Activated Users Chart-->
  <!--===================================================-->
  <div class="panel">
    <div class="panel-body"></div>
  </div>
  <!--===================================================-->
  <!--End Activated Users chart-->
</div>
<!--===================================================-->
<!--End page content-->
{% endblock %}
